---
_options:
  partials:
    - app/partials/preview.hbs
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generative Art - seigler.github.io</title>
    <link rel="stylesheet" href="DIGEST(app.css)">
  </head>
  <body>
    <main>
      <h1>P5.js generative art</h1>
      {{> preview
        index="9"
        date="2021-02-07"
        title="Hot Space Trails"
        alt="against a dense field of stars, red and orange curving trails weave around planets, amid a field of faint, fast-moving straight lines"
      }}
      {{> preview
        index="8"
        date="2019-11-18"
        title="Terra Firma"
        alt="a brush stroked map of sea and land, with breezy black and white contour lines marking the elevation"
      }}
      {{> preview
        index="7"
        date="2019-11-16"
        title="Estrellas"
        alt="a field of stars with triangular blue constellations highlighted"
      }}
      {{> preview
        index="6"
        date="2019-11-14"
        title="Grow"
        alt="a broad tree with a black trunk and white round leaves, in front of a large, hollow, colored circle"
      }}
      {{> preview
        index="5"
        date="2019-11-12"
        title="Glow Path"
        alt="layers of meandering dark curves with one glowing, colored curve"
      }}
      {{> preview
        index="4"
        date="2019-11-10"
        title="Lenses"
        alt="colored pinstripes distorted by a field of smoothed lenses of varying strength"
      }}
      {{> preview
        index="3"
        date="2019-11-09"
        title="Peanut Butter and Jelly"
        alt="purple jelly stripes covered with swirling swarms of peanut butter colored lines"
      }}
      {{> preview
        index="2"
        date="2019-11-07"
        title="Gradient Jungle"
        alt="multicolored gradients revealing and concealing jungle leaves"
      }}
      {{> preview
        index="1"
        date="2019-11-05"
        title="Gradient Burst"
        alt="multicolored gradients revealing and concealing bars and circles"
      }}
    </main>
  </body>
</html>
